<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="NinjaFerret.Wcf.Sample.BankManager.WcfHost.AccountServiceWrapper">
                <endpoint address="http://localhost:8010/AccountService" binding="basicHttpBinding"
                    bindingConfiguration="" contract="NinjaFerret.Wcf.Sample.BankManager.Interface.IAccountService" />
            </service>
            <service name="NinjaFerret.Wcf.Sample.BankManager.WcfHost.TransactionServiceWrapper">
                <endpoint address="http://localhost:8011/TransactionService"
                    binding="basicHttpBinding" bindingConfiguration="" contract="NinjaFerret.Wcf.Sample.BankManager.Interface.ITransactionService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>