<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>

    <components>
      <!-- To embed the services directly into the console then use the following settings
      <component id="TransactionService"
            service="Ninjaferret.Wcf.Sample.BankManager.Interface.ITransactionService, NinjaFerret.Wcf.Sample.BankManager.Interface"
            type="NinjaFerret.Wcf.Sample.BankManager.Service.TransactionService, NinjaFerret.Wcf.Sample.BankManager.Service" />
      <component id="AccountService"
            service="Ninjaferret.Wcf.Sample.BankManager.Interface.IAccountService, NinjaFerret.Wcf.Sample.BankManager.Interface"
            type="NinjaFerret.Wcf.Sample.BankManager.Service.AccountService, NinjaFerret.Wcf.Sample.BankManager.Service" />-->
      <component id="WcfClientFactory"
                 type="NinjaFerret.Wcf.Client.ClientFactory, NinjaFerret.Wcf.Client" />
      <component id="TransactionService"
            service="Ninjaferret.Wcf.Sample.BankManager.Interface.ITransactionService, NinjaFerret.Wcf.Sample.BankManager.Interface"
            factoryId="WcfClientFactory"
            factoryMethod="GenerateClient[ITransactionService]"/>
      <component id="AccountService"
            service="Ninjaferret.Wcf.Sample.BankManager.Interface.IAccountService, NinjaFerret.Wcf.Sample.BankManager.Interface"
            factoryId="WcfClientFactory"
            factoryMethod="GenerateClient[IAccountService]" />
      <component id="BankAdministrator"
            service="NinjaFerret.Wcf.Sample.BankManager.Client.IBankAdministrator, NinjaFerret.Wcf.Sample.BankManager.Client"
            type="NinjaFerret.Wcf.Sample.BankManager.Client.BankAdministrator, NinjaFerret.Wcf.Sample.BankManager.Client" />
    </components>
    <facilities>
      <facility id="factorysupport" type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.Microkernel" />
    </facilities>
  </castle>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
